<div class="d-flex">

    <div class="sidebar d-flex flex-column " style="height: 80vh; width: 250px; background-color:black;">
        <a routerLink="/dashboard" class="ms-5 mt-3" href="" style="text-decoration: none; color: white;">Dashboard</a>
        <a routerLink="/emplist" class="ms-5 mt-3" href="" style="text-decoration: none; color: white;">Employee list</a>

    </div>
<div class="dashboard p-3 w-100">
    
        <div class="mt-5 d-flex justify-content-between w-100 ">
            <h2 class="ms-5 text-primary ">Users List</h2>
           <a routerLink="/employee/add" style="text-decoration: none;" class="btn btn-outline-secondary pt-2"><i class="fa-solid fa-user me-2"></i>Add</a>
           
       </div>
       <div class="d-flex  flex-column mt-5">
        <div class="d-flex justify-content-between w-100">
           <div class="d-flex w-75">
            <input type="text" placeholder="Username" class="form-control me-2 text-center w-50 bg-light" name="search" [(ngModel)]="searchKey">
            <div class="dropdown "></div>
            
            <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">sort</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" (click)="sortId()">By Id</a></li>
                <li><a class="dropdown-item" (click)="sortbyName()">By Name</a></li>
            </ul>
        </div>
    </div>
       
       
<div  class="d-flex justify-content-end"><button (click)="generatePdf()" class="btn btn-danger  justify-content-between">Export</button>
</div>
</div>
<table class=" table table-bordered border-warning shadow mt-5 rounded-2">
    <thead>
        <tr  class="p-4 table-active">
            <th class="py-4 text-center">UserId</th>
            <th class="py-4 text-center">User Name</th>
            <th class="py-4 text-center">Email</th>
            <th class="py-4 text-center">Status</th>
            <th class="py-4 text-center">Action</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of allemployee | search :searchKey | paginate: { itemsPerPage: 5, currentPage: p }" [hidden]="employee.id=='1'">
            <td class="text-center">{{employee.id}}</td>
            <td class="text-center">{{employee.name}}</td>
            <td class="text-center">{{employee.email}}</td>
            <td class="text-center"><span [ngClass]="employee.status=='Active'?'btn btn-success':'btn btn-warning' ">{{employee.status=='Active'?'Active':'Inactive'}}</span></td>
            <td class="text-center">

                <a routerLink="/employee/edit/{{employee.id}}" class="btn btn-outline-primary" ><i class="fa-solid fa-pen fa-bounce  "></i></a>

                <button (click)="removeEmployee(employee.id)" class="btn btn-outline-danger ms-3" ><i class="fa-solid fa-trash fa-bounce   "></i>
                </button>
            </td>
           
        </tr>
    </tbody>
</table>
<pagination-controls
    (pageChange)="p=$event" class="d-flex align-items-center justify-content-center">
</pagination-controls>
</div>
</div>
   


    
       
     
    
    
    
